<div class="container d-flex flex-wrap bg-light rounded shadow-lg pt-5 mb-4" style="min-height: 500px">
    <div class=" container text-center ">
        <p class="text-danger fw-bolder fs-1">
            At the moment there are no products in the Shop.
        </p>
    </div>
</div>